<h3>
  <strong>
    <em>
      Guide view Table
    </em>
  </strong>

</h3>
<table [striped]="true" cTable>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Guide Number</th>
    <th scope="col">Guide Name</th>
    <th scope="col">Guide Gender</th>
    <th scope="col">Guide Address</th>
    <th scope="col">Guide Email</th>
    <th scope="col">Guide City</th>
    <th scope="col">Guide Nic</th>
    <th scope="col">Guide Tel No</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>
  @for (guide of guides; track guide; let key = $index) {
  <tr>
    <th scope="row">{{key + 1}}</th>
      <td>{{ guide.guide_no }}</td>
      <td>{{ guide.name }}</td>
      <td>{{ guide.gender.name }}</td>
      <td>{{ guide.address }}</td>
      <td>{{ guide.email }}</td>
      <td>{{ guide.city }}</td>
      <td>{{ guide.nic }}</td>
      <td>{{ guide.tel_no }}</td>
      <td>
       <button type="button" (click)="getShow(guide.id)" cButton>  <svg cIcon name="cil-task" size="lg" title="Numbered List Icon" ></svg></button>&ngsp;
       <button type="button" (click)="guideDelete(guide.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
      </td>
</tr>
  }
  </tbody>
</table>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle> Guide Update Form</h5>

  </c-modal-header>
  <c-modal-body><app-guide-update></app-guide-update></c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>

