<div>
  <h3> <strong><em> Employee Search Form </em> </strong></h3>
  <form cForm [formGroup]="empSearchForm" >
    <c-row>
      <c-col [xs]="3">
        <div class="mb-3">
          <label cLabel for="inputName-1">Search Name: </label>
          <input cFormControl id="inputName-1" type="text" sizing="sm" name="name" formControlName="name">
          <div cFormText>
            ex: Kasun Dilruwan
          </div>
        </div>
      </c-col>
      <c-col [xs]="3">
        <div class="mb-3">
          <label cLabel>Employee Gender:</label>

          <select aria-label="Select Employee Gender" cSelect name="gender_id" formControlName="gender_id">
            <option selected="selected" value="">Select Employee Gender</option>
            <option *ngFor="let gender of employeeGenders" [value]="gender.id">
              {{ gender.name }}
            </option>
          </select>
        </div>
      </c-col>
      <c-col [xs]="4">
        <div class="mb-3">
          <label cLabel>Search Employee Type:</label>

          <select aria-label="Select Employee Type" cSelect name="employee_type_id" formControlName="employee_type_id">
            <option selected="selected" value="">Select Employee Type</option>
            <option *ngFor="let type of employeeTypes" [value]="type.id">
              {{ type.name }}
            </option>
          </select>
        </div>
      </c-col>
    </c-row>
    <input cButton color="success" style="color: white" type="button" (click)="search()" value="Search">&ngsp;
    <input cButton color="danger" style="color: white" type="button" (click)="clearSearchForm()" value="Clear"> &ngsp;
  </form>
</div>
<hr/>
<h3>
  <strong>
    <em>
      Employee view Table
    </em>
  </strong>
</h3>
<table [striped]="true" cTable>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Employee Gender</th>
    <th scope="col">Employee Address</th>
    <th scope="col">Employee Email</th>
    <th scope="col">Employee City</th>
    <th scope="col">Employee Nic</th>
    <th scope="col">Employee Type</th>
    <th scope="col">Employee Tel No</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody *ngIf="employees">
  @for (employee of employees; track employee; let key = $index) {
  <tr>
    <th scope="row">{{key + 1}}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.gender.name }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.city }}</td>
      <td>{{ employee.nic }}</td>
      <td>{{ employee.employee_type.name }}</td>
      <td>{{ employee.tel_no }}</td>
       <td>
      <button type="button" (click)="getShow(employee.id)" cButton>  <svg cIcon name="cil-task" size="lg" title="Numbered List Icon" ></svg></button>&ngsp;
       <button type="button" (click)="empDelete(employee.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
       </td>
</tr>
  }
  </tbody>
</table>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle> Employee Update Form</h5>

  </c-modal-header>
  <c-modal-body><app-employee-update></app-employee-update></c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>
