<div>
  <h3> <strong> <em> Event Book Form </em> </strong></h3>


  <div>
    <form cForm [formGroup]="eventBook">
    <c-col [xs]="6">
      <div class="mb-3">
        <label cLabel for="inputOrganizer-1">Organizer:</label>

        <input
          id="inputOrganizer-1"
          class="form-control"
          list="organizers-list"
          formControlName="organizer_id"
          placeholder="Search Organizer Details"
          (input)="onOrganizerChange($event)"
        />

        <datalist id="organizers-list">
          <option *ngFor="let organizer of organizers" [value]="organizer.id">
            {{ organizer.nic }}
          </option>
        </datalist>
      </div>
    </c-col>

    <!-- Organizer Details -->
    <div *ngIf="selectedOrganizer" class="card p-3 mt-3 mb-5">
      <h6>Organizer Details</h6>

      <input cFormControl id="inputId-1" type="hidden" sizing="sm" name="organizer_id" formControlName="organizer_id" value="{{ selectedOrganizer.id }}">
      <p><strong>Name:</strong> {{ selectedOrganizer.name }}</p>
      <p><strong>NIC:</strong> {{ selectedOrganizer.nic }}</p>
      <p><strong>Email:</strong> {{ selectedOrganizer.email }}</p>
      <p><strong>Phone:</strong> {{ selectedOrganizer.phone }}</p>
    </div>

      <button cButton color="warning" (click)="clearForm()">Clear</button>

    <hr style="margin-top: 40px; margin-bottom: 20px;" />
      <div *ngIf="!selectedEvent">
        <h5>Event Details</h5>

        <button cButton color="success" style="color:white"
                (click)="showEvent('wedding')">
          Wedding
        </button>
        &nbsp;

        <button cButton color="primary" style="color:white"
                (click)="showEvent('hotel')">
          Hotel Event
        </button>
        &nbsp;

        <button cButton color="danger" style="color:white"
                (click)="showEvent('restaurant')">
          Restaurant Events
        </button>
      </div>

      <!-- Wedding -->
      <div *ngIf="selectedEvent === 'wedding'">

        <button cButton color="secondary" (click)="back()">
          ← Back
        </button>

        <h1>Wedding</h1>

      </div>

      <!-- Hotel -->
      <div *ngIf="selectedEvent === 'hotel'">
        <button cButton color="secondary" (click)="back()">
          ← Back
        </button>

        <h1>Hotel Event</h1>
        <app-hotel-event [organizer_id]="eventBook.get('organizer_id')?.value"></app-hotel-event>
      </div>

      <!-- Restaurant -->
      <div *ngIf="selectedEvent === 'restaurant'">
        <button cButton color="secondary" (click)="back()">
          ← Back
        </button>

        <h1>Restaurant Events</h1>

        <app-restaurant-event [organizer_id]="eventBook.get('organizer_id')?.value"></app-restaurant-event>

      </div>
    </form>

<!--<div>-->
<!--  <h3> <strong><em>Room Book Table</em></strong> </h3>-->
<!--  <table cTable style="width:900px" >-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col"> Book Number</th>-->
<!--      <th scope="col">Room No</th>-->
<!--      <th scope="col">Guest Name</th>-->
<!--      <th scope="col">Guest Nic</th>-->
<!--      <th scope="col"> Booking / Canceling </th>-->
<!--      <th scope="col"> Check-in Date - Check-out Date: </th>-->
<!--      <th scope="col">Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody *ngIf="roomsBooks">-->
<!--    <tr  *ngFor="let book of objectValues(roomsBooks); let i = index">-->
<!--      <th scope="row">{{i + 1}}</th>-->
<!--      <td>{{ book.booking_no }}</td>-->
<!--      <td>{{ book.room.r_no }}</td>-->
<!--      <td>{{ book.guest.name }}</td>-->
<!--      <td>{{ book.guest.nic }}</td>-->
<!--      <td>{{ book.r_book }}</td>-->
<!--      <td>{{ book.booking_Date|date:"Y-MM-d" }} - {{ book.cancel_Date|date:"Y-MM-d" }}</td>-->
<!--      <td>-->
<!--        <button (click)="getRmBookById(book.id)" cButton><svg cIcon name="cil-task" size="lg" title="Numbered List Icon"></svg></button>&ngsp;&ngsp;-->
<!--        <button type="button" (click)="deleteRmBook(book.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
