<div>
  <h3> <strong> <em> Employee Type Form </em> </strong></h3>
  <form cForm [formGroup]="empTypeForm" (ngSubmit)="onSubmit()">
    <input cFormControl id="inputId-1" type="hidden" sizing="sm" name="id" formControlName="id">
    <c-row>
      <c-col [xs]="3">
        <div class="mb-3">
          <label cLabel for="inputName-1">Employee Type Name: </label>
          <input cFormControl id="inputName-1" type="text" sizing="sm" name="name" formControlName="name">
        </div>
      </c-col>
    </c-row>
    <div  class="mb-3">
      <input cButton color="primary" type="submit" [disabled]="empTypeForm.invalid">&ngsp;
      <input cButton color="danger" style="color: white" type="button" (click)="clearForm()" value="Clear">&ngsp;
      <input cButton color="secondary" style="color: white" type="button" (click)="updateEmpType()" value="Update" [disabled]="empTypeForm.invalid">
    </div>
  </form>
</div>

<hr />
<div>
  <h1> Employee Type Table </h1>
  <table [striped]="true" cTable>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee Type Name</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @for (type of employeeTypes; track type; let key = $index) {
    <tr>
      <th scope="row">{{key + 1}}</th>
    <td>{{ type.name }}</td>
    <td>
    <button (click)="getEmpTypeById(type.id)" cButton>
          <svg cIcon name="cil-task" size="lg" aria-label="Numbered List Icon" title="Numbered List Icon"></svg>
    </button>&ngsp;
    <button type="button" (click)="empTypeDelete(type.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
    </td>
  </tr>
    }
    </tbody>
  </table>

</div>
