<div>
<h3> <strong> <em> Room Book Form </em> </strong></h3>
<form cForm [formGroup]="rmBookForm" (ngSubmit)="onSubmit()">
  <c-row>
    <div>
      {{ error }}
    </div>
    <input cFormControl id="inputId-1" type="hidden" sizing="sm" name="id" formControlName="id">
    <c-col [xs]="6">
      <div class="mb-3">
        <label cLabel for="inputNumber-1">Room Booking Number: </label>
        <input cFormControl id="inputNumber-1" type="text" sizing="sm" name="booking_no" formControlName="booking_no" readonly="">
        <div cFormText>
          ex: RBN0021
        </div>
      </div>
    </c-col>
    <c-col [xs]="6">
      <div class="mb-3">
        <label cLabel for="inputRNo-1">Room No:</label>
        <select id="inputRNo-1" aria-label="Select Room No" cSelect name="r_id" formControlName="r_id">
          <option selected="selected" value="">Select Room No</option>
          <option *ngFor="let room of rooms" [value]="room.id">
            {{ room.r_no }}
          </option>
        </select>
      </div>
    </c-col>
<!--    <c-col [xs]="6">-->
<!--      <div class="mb-3">-->
<!--        <label cLabel for="inputGuest-1">Guest:</label>-->
<!--        <datalist id="inputGuest-1" aria-label="Select Guest" cSelect name="guest_id" formControlName="guest_id">-->
<!--          <option selected="selected" value="">Select Guest</option>-->
<!--          <option *ngFor="let guest of guests" [value]="guest.id">-->
<!--            {{ guest.nic }}-->
<!--          </option>-->
<!--        </datalist>-->
<!--      </div>-->
<!--    </c-col>-->
    <c-col [xs]="6">
      <div class="mb-3">
        <label cLabel for="inputGuest-1">Guest:</label>
        <input
          id="inputGuest-1"
          class="form-control"
          list="guests-list"
          name="guest_id"
          formControlName="guest_id"
          placeholder="Select Guest"
        />
        <datalist id="guests-list">
          <option *ngFor="let guest of guests" [value]="guest.id">
            {{ guest.nic }}
          </option>
        </datalist>
      </div>
    </c-col>

    <c-col [xs]="6">
      <div class="mb-3">
        <label cLabel for="inputRBook-1">Room Booking:</label>
        <select id="inputRBook-1" aria-label="Select Book" cSelect name="r_book" formControlName="r_book">
          <option selected="selected" value="">Select Book</option>
          <option value="Booking"> Booking </option>
          <option value="Canceling"> Canceling </option>
        </select>
      </div>
    </c-col>
    <c-col [xs]="6">
      <label cLabel>Check-in Date:</label>

      <input
        type="date"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="booking_Date" formControlName="booking_Date"
        ngbDatepicker
        #d="ngbDatepicker"
      />
    </c-col>
    <c-col [xs]="6">
      <label cLabel>Check-out Date:</label>

      <input
        type="date"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="cancel_Date" formControlName="cancel_Date"
        ngbDatepicker
        #x="ngbDatepicker"
      />
    </c-col>
  </c-row>
  <div  class="mb-3">
    <input cButton color="primary" type="submit">&ngsp;
    <input cButton color="danger" style="color: white" type="button" (click)="clearForm()" value="Clear"> &ngsp;
    <input cButton color="secondary" style="color: white" type="button" (click)="updateRmBook()" [disabled]="rmBookForm.invalid" value="Update">
  </div>
</form>
</div>
<hr />
<h3> <strong><em>Search Booking </em></strong> </h3>

<form cForm [formGroup]="rmSearchBookForm">
  <c-row>
<c-col [xs]="4">

  <label cLabel>Room Booking Date:</label>

  <input
    class="form-control"
    placeholder="yyyy-mm-dd"
    name="search_booking_Date" formControlName="search_booking_Date"
    ngbDatepicker
    #s="ngbDatepicker"
  />
  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="s.toggle()" type="button"></button>
</c-col>
  <c-col [xs]="4">
    <div class="mb-3">
      <label cLabel for="inputSearchRNo-1">Room No:</label>
      <select id="inputSearchRNo-1" aria-label="Select Room No" cSelect name="search_r_id" formControlName="search_r_id">
        <option selected="selected" value="">Select Room No</option>
        <option *ngFor="let room of rooms" [value]="room.id">
          {{ room.r_no }}
        </option>
      </select>
    </div>
  </c-col>
  </c-row>
  <input cButton color="success" style="color: white" type="button" (click)="search()" value="Search">&ngsp;
  <input cButton color="danger" style="color: white" type="button" (click)="clearSearchForm()" value="Clear"> &ngsp;
</form>
<hr />
<div>
  <h3> <strong><em>Room Book Table</em></strong> </h3>
  <table cTable style="width:900px" >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Book Number</th>
      <th scope="col">Room No</th>
      <th scope="col">Guest Name</th>
      <th scope="col">Guest Nic</th>
      <th scope="col"> Booking / Canceling </th>
      <th scope="col"> Check-in Date - Check-out Date: </th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="roomsBooks">
    <tr  *ngFor="let book of objectValues(roomsBooks); let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{ book.booking_no }}</td>
      <td>{{ book.room.r_no }}</td>
      <td>{{ book.guest.name }}</td>
      <td>{{ book.guest.nic }}</td>
      <td>{{ book.r_book }}</td>
      <td>{{ book.booking_Date|date:"Y-MM-d" }} - {{ book.cancel_Date|date:"Y-MM-d" }}</td>
      <td>
        <button (click)="getRmBookById(book.id)" cButton><svg cIcon name="cil-task" size="lg" title="Numbered List Icon"></svg></button>&ngsp;&ngsp;
        <button type="button" (click)="deleteRmBook(book.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
