<h3>
  <strong>
    <em>

     Order view Table
    </em>
  </strong>

</h3>
<table [striped]="true" cTable>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Order Number</th>
    <th scope="col">Room Number</th>
    <th scope="col">Guest Name</th>
    <th scope="col">Order Amount</th>
    <th scope="col">Order Status</th>
    <th scope="col">Order Date</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody *ngIf="orderData">
  @for (order of orderData; track order; let key = $index) {
  <tr>
    <th scope="row">{{key + 1}}</th>
      <td>{{ order.order_no }}</td>
      <td>{{ order.room.r_no }}</td>
      <td>{{ order.guest.name }}</td>
      <td>{{ order.order_amount }}</td>
      <td>{{ order.order_status.name }}</td>
      <td>{{ order.order_date|date:"Y-MM-d" }}</td>
        <td>
  <button type="button" (click)="orderDelete(order.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
  </td>
</tr>
  }
  </tbody>
</table>
