<div>
  <h3> <strong><em> Room Form </em> </strong></h3>

  <form cForm [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <input cFormControl id="inputId-1" type="hidden" sizing="sm" name="id" formControlName="id">
    <div class="mb-3">
      <label cLabel for="inputNumber-1">Room Number: </label>
      <input cFormControl id="inputNumber-1" type="text" sizing="sm" name="r_no" formControlName="r_no" readonly="">
      <div cFormText>
        ex: RN0021
      </div>
    </div>
    <div class="mb-3">
      <label cLabel for="inputCost-1">Room Cost: </label>
      <input cFormControl id="inputCost-1" type="text" sizing="sm" formControlName="r_cost" name="r_cost">
      <div cFormText>
        ex: Rs.29000.00
      </div>
    </div>
    <div class="mb-3">
      <label cLabel for="inputCost-1">Room Category: </label>

      <select aria-label="Select Rooms Category " cSelect name="r_category_id" formControlName="r_category_id">
        <option selected="selected" value="">Select Rooms Category</option>
        <option *ngFor="let type of roomsCategories" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>
    <div  class="mb-3">
      <input cButton color="primary" type="submit" [disabled]="roomForm.invalid">&ngsp;
      <input cButton color="danger" style="color: white" type="button" (click)="clearForm()" value="Clear">&ngsp;
      <input cButton color="secondary" style="color: white" type="button"  value="Update" (click)="updateRoom()" [disabled]="roomForm.invalid">
    </div>
  </form>

</div>
<div>

  <h3>
    <strong>
      <em>
        Room view Table
      </em>
    </strong>

  </h3>
  <table [striped]="true" cTable>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Number</th>
      <th scope="col">Room Cost</th>
      <th scope="col">Room Category</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @for (room of rooms;track room ; let key = $index) {

    <tr>

      <th scope="row">{{key + 1}}</th>
      <td>{{ room.r_no }}</td>
      <td>{{ room.r_cost }}</td>
      <td>{{ room.room_category.name }}</td>
      <td>
       <button (click)="getRoomById(room.id)" cButton><svg cIcon name="cil-task" size="lg" title="Numbered List Icon"></svg></button>&ngsp;&ngsp;
    <button type="button" (click)="deleteRoom(room.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>    </td>
     </tr>
}
    </tbody>
  </table>


</div>
