<h3>
  <strong>
    <em>
      Customer view Table
    </em>
  </strong>
</h3>
<table [striped]="true" cTable>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Customer Image</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Customer Gender</th>
    <th scope="col">Customer Address</th>
    <th scope="col">Customer Email</th>
    <th scope="col">Customer City</th>
    <th scope="col">Customer Nic</th>
    <th scope="col">Customer Tel No</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody *ngIf="customers">
  @for (type of customers; track type; let key = $index) {
  <tr>
    <th scope="row">{{key + 1}}</th>
       <td><img src="{{ type.image_url}}" style="width:50px;height:50px"></td>
      <td>{{ type.user.name }}</td>
      <td>{{ type.gender.name }}</td>
      <td>{{ type.address }}</td>
      <td>{{ type.user.email }}</td>
      <td>{{ type.city }}</td>
      <td>{{ type.nic }}</td>
      <td>{{ type.tel_no }}</td>
       <td>
      <button type="button" (click)="getShow(type.id)" cButton>  <svg cIcon name="cil-task" size="lg" title="Numbered List Icon" ></svg></button> &ngsp;
       <button type="button" (click)="customerDelete(type.id)"cButton color="danger"><svg cIcon name="cil-trash" size="lg" title="Numbered List Icon"></svg></button>
       </td>
</tr>
  }
  </tbody>
</table>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle> Customer Update Form</h5>

  </c-modal-header>
  <c-modal-body><app-customer-update></app-customer-update></c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>
